body {
    font-family: Arial;
  padding: 20px 10px;
  max-width: 2000px;
  margin: 0 auto;
  background-color:#EBFFEB
      
}

H1 {
  text-align: center;
  color: #FF0099;
  background-color: #FFCCFF;
}

  
  
  
  
  
}